<link rel="stylesheet" href="../public/app.css">

<h1>You fell in love with: <%= thingVar %> </h1>

<% if(thingVar === "sylvia"){ %>
    <p>You made the right choice</p>
<% } else { %>
    <p>You are lost</p>
<% } %>

<p>Please this is coming from love.ejs</p>